#counter mapping mapping Nokia PM 2G
#used for simplified counter name
#format [counter_id][counter_field]
#example: [PMCAPACITYALLOCATTSERVEDCHUSERS][PMCAPALLOCATTSRVCHUSERS]

[PMCAPACITYALLOCATTSERVEDCHUSERS][PMCAPALLOCATTSRVCHUSERS]
[PMCAPACITYALLOCREJSERVEDCHUSERS][PMCAPALLOCREJSRVCHUSERS]
[PMNOACTIVE10MSINTERVALSEULTTI10][PMNOACT10MSITVLSEULTTI10]
[PMTRANSMITTEDCARRIERPOWERWLIMIT][PMTRANSMTDCARRIERPWRWLMT]
[PMTRANSMITTEDCARRIERPOWERWNONHS][PMTRANSMTDCARRIERPWRWNONHS]
[PMSUMNONEMPTYUSERBUFFERSPQSPI00][PMSUMNONEMPTYUSRBFRSPQSPI00]
[PMSUMNONEMPTYUSERBUFFERSPQSPI01][PMSUMNONEMPTYUSRBFRSPQSPI01]
[PMSUMNONEMPTYUSERBUFFERSPQSPI02][PMSUMNONEMPTYUSRBFRSPQSPI02]
[PMSUMNONEMPTYUSERBUFFERSPQSPI03][PMSUMNONEMPTYUSRBFRSPQSPI03]
[PMSUMNONEMPTYUSERBUFFERSPQSPI04][PMSUMNONEMPTYUSRBFRSPQSPI04]
[PMSUMNONEMPTYUSERBUFFERSPQSPI05][PMSUMNONEMPTYUSRBFRSPQSPI05]
[PMSUMNONEMPTYUSERBUFFERSPQSPI06][PMSUMNONEMPTYUSRBFRSPQSPI06]
[PMSUMNONEMPTYUSERBUFFERSPQSPI07][PMSUMNONEMPTYUSRBFRSPQSPI07]
[PMSUMNONEMPTYUSERBUFFERSPQSPI08][PMSUMNONEMPTYUSRBFRSPQSPI08]
[PMSUMNONEMPTYUSERBUFFERSPQSPI09][PMSUMNONEMPTYUSRBFRSPQSPI09]
[PMSUMNONEMPTYUSERBUFFERSPQSPI10][PMSUMNONEMPTYUSRBFRSPQSPI10]
[PMSUMNONEMPTYUSERBUFFERSPQSPI11][PMSUMNONEMPTYUSRBFRSPQSPI11]
[PMSUMNONEMPTYUSERBUFFERSPQSPI12][PMSUMNONEMPTYUSRBFRSPQSPI12]
[PMSUMNONEMPTYUSERBUFFERSPQSPI13][PMSUMNONEMPTYUSRBFRSPQSPI13]
[PMSUMNONEMPTYUSERBUFFERSPQSPI14][PMSUMNONEMPTYUSRBFRSPQSPI14]
[PMSUMNONEMPTYUSERBUFFERSPQSPI15][PMSUMNONEMPTYUSRBFRSPQSPI15]
[PMNOINACTIVEREQUIREDSUBFRAMESSPI00][PMNOINACTVREQUIRSUBFRMSPI00]
[PMNOINACTIVEREQUIREDSUBFRAMESSPI01][PMNOINACTVREQUIRSUBFRMSPI01]
[PMNOINACTIVEREQUIREDSUBFRAMESSPI02][PMNOINACTVREQUIRSUBFRMSPI02]
[PMNOINACTIVEREQUIREDSUBFRAMESSPI03][PMNOINACTVREQUIRSUBFRMSPI03]
[PMNOINACTIVEREQUIREDSUBFRAMESSPI04][PMNOINACTVREQUIRSUBFRMSPI04]
[PMNOINACTIVEREQUIREDSUBFRAMESSPI05][PMNOINACTVREQUIRSUBFRMSPI05]
[PMNOINACTIVEREQUIREDSUBFRAMESSPI06][PMNOINACTVREQUIRSUBFRMSPI06]
[PMNOINACTIVEREQUIREDSUBFRAMESSPI07][PMNOINACTVREQUIRSUBFRMSPI07]
[PMNOINACTIVEREQUIREDSUBFRAMESSPI08][PMNOINACTVREQUIRSUBFRMSPI08]
[PMNOINACTIVEREQUIREDSUBFRAMESSPI09][PMNOINACTVREQUIRSUBFRMSPI09]
[PMNOINACTIVEREQUIREDSUBFRAMESSPI10][PMNOINACTVREQUIRSUBFRMSPI10]
[PMNOINACTIVEREQUIREDSUBFRAMESSPI11][PMNOINACTVREQUIRSUBFRMSPI11]
[PMNOINACTIVEREQUIREDSUBFRAMESSPI12][PMNOINACTVREQUIRSUBFRMSPI12]
[PMNOINACTIVEREQUIREDSUBFRAMESSPI13][PMNOINACTVREQUIRSUBFRMSPI13]
[PMNOINACTIVEREQUIREDSUBFRAMESSPI14][PMNOINACTVREQUIRSUBFRMSPI14]
[PMNOINACTIVEREQUIREDSUBFRAMESSPI15][PMNOINACTVREQUIRSUBFRMSPI15]
[PMDOT1QTPVLANPORTINDISCARDSLINK][PMDOT1QTPVLANPORTINDISCRDSLNK]
[PMUNSUCCOUTCONNSREMOTEQOSCLASSA][PMUNSUCCOUTCONNSREMTQOSCLSSA]
[PMUNSUCCOUTCONNSREMOTEQOSCLASSB][PMUNSUCCOUTCONNSREMTQOSCLSSB]
[PMUNSUCCOUTCONNSREMOTEQOSCLASSC][PMUNSUCCOUTCONNSREMTQOSCLSSC]
[PMUNSUCCOUTCONNSREMOTEQOSCLASSD][PMUNSUCCOUTCONNSREMTQOSCLSSD]
[PMCAPALLOCIUBHSLIMITINGRATIOSPI00][PMCAPALLOCIUBHSLMTRATIOSPI00]
[PMCAPALLOCIUBHSLIMITINGRATIOSPI01][PMCAPALLOCIUBHSLMTRATIOSPI01]
[PMCAPALLOCIUBHSLIMITINGRATIOSPI02][PMCAPALLOCIUBHSLMTRATIOSPI02]
[PMCAPALLOCIUBHSLIMITINGRATIOSPI03][PMCAPALLOCIUBHSLMTRATIOSPI03]
[PMCAPALLOCIUBHSLIMITINGRATIOSPI04][PMCAPALLOCIUBHSLMTRATIOSPI04]
[PMCAPALLOCIUBHSLIMITINGRATIOSPI05][PMCAPALLOCIUBHSLMTRATIOSPI05]
[PMCAPALLOCIUBHSLIMITINGRATIOSPI06][PMCAPALLOCIUBHSLMTRATIOSPI06]
[PMCAPALLOCIUBHSLIMITINGRATIOSPI07][PMCAPALLOCIUBHSLMTRATIOSPI07]
[PMCAPALLOCIUBHSLIMITINGRATIOSPI08][PMCAPALLOCIUBHSLMTRATIOSPI08]
[PMCAPALLOCIUBHSLIMITINGRATIOSPI09][PMCAPALLOCIUBHSLMTRATIOSPI09]
[PMCAPALLOCIUBHSLIMITINGRATIOSPI10][PMCAPALLOCIUBHSLMTRATIOSPI10]
[PMCAPALLOCIUBHSLIMITINGRATIOSPI11][PMCAPALLOCIUBHSLMTRATIOSPI11]
[PMCAPALLOCIUBHSLIMITINGRATIOSPI12][PMCAPALLOCIUBHSLMTRATIOSPI12]
[PMCAPALLOCIUBHSLIMITINGRATIOSPI13][PMCAPALLOCIUBHSLMTRATIOSPI13]
[PMCAPALLOCIUBHSLIMITINGRATIOSPI14][PMCAPALLOCIUBHSLMTRATIOSPI14]
[PMCAPALLOCIUBHSLIMITINGRATIOSPI15][PMCAPALLOCIUBHSLMTRATIOSPI15]
[PMSCTPSTATRECEIVEDCONTROLCHUNKS][PMSCTPSTATRCVDCTRLCHUNKS]