#file mapping ZTE PM 3G
#format [filePattern][tableName][delimiter][HEADER:Y/N|LINE|COLUMN][COLUMN MAPPING CONFIG]
#bila [field Mapping] tidak diisi, maka field akan default sesuai apa adanya
#example [(.*)ABISMessageCountMeas(.*)][ABISMESSAGECOUNTMEAS][,][Y|1|1][01_config/Zte2GMap.cfg]

#Here we go..
[(.*)CellAccessAndDrop(.*)][CELLACCESSANDDROP][,][Y|1|1][]
[(.*)CellAccessControl(.*)][CELLACCESSCONTROL][,][Y|1|1][]
[(.*)CellCarrier(.*)][CELLCARRIER][,][Y|1|1][]
[(.*)CellChannelSwitch(.*)][CELLCHANNELSWITCH][,][Y|1|1][]
[(.*)CellCodeResource(.*)][CELLCODERESOURCE][,][Y|1|1][]
[(.*)CellCommonChannel(.*)][CELLCOMMONCHANNEL][,][Y|1|1][]
[(.*)CellDRBC(.*)][CELLDRBC][,][Y|1|1][]
[(.*)CellHandoverFromHSPATo2G(.*)][CELLHANDOVERFROMHSPATO2G][,][Y|1|1][]
[(.*)CellHardHandover(.*)][CELLHARDHANDOVER][,][Y|1|1][]
[(.*)CellHSDPACarrier(.*)][CELLHSDPACARRIER][,][Y|1|1][]
[(.*)CellHSDPACodeResource(.*)][CELLHSDPACODERESOURCE][,][Y|1|1][]
[(.*)CellHSDPANodeB(.*)][CELLHSDPANODEB][,][Y|1|1][]
[(.*)CellHSPAAccessAndDrop(.*)][CELLHSPAACCESSANDDROP][,][Y|1|1][]
[(.*)CellHSPAThroughput(.*)][CELLHSPATHROUGHPUT][,][Y|1|1][]
[(.*)CellIncomingInterRATHandover(.*)][CELLINCOMINGINTERRATHANDOVER][,][Y|1|1][]
[(.*)CellIubRadioLinkManagement(.*)][CELLIUBRADIOLINKMANAGEMENT][,][Y|1|1][]
[(.*)CellIurRadioLinkManagement(.*)][CELLIURRADIOLINKMANAGEMENT][,][Y|1|1][]
[(.*)CellLoadControl(.*)][CELLLOADCONTROL][,][Y|1|1][]
[(.*)CellPaging(.*)][CELLPAGING][,][Y|1|1][]
[(.*)CellRABRelease(.*)][CELLRABRELEASE][,][Y|1|1][]
[(.*)CellRelocation(.*)][CELLRELOCATION][,][Y|1|1][]
[(.*)CellRLCTraffic(.*)][CELLRLCTRAFFIC][,][Y|1|1][]
[(.*)CellRRCConnectionManagement(.*)][CELLRRCCONNECTIONMANAGEMENT][,][Y|1|1][]
[(.*)CellRRCConnectionRelease(.*)][CELLRRCCONNECTIONRELEASE][,][Y|1|1][]
[(.*)CellSoftHandover(.*)][CELLSOFTHANDOVER][,][Y|1|1][]
[(.*)CellStatus(.*)][CELLSTATUS][,][Y|1|1][]
[(.*)CellTraffic(.*)][CELLTRAFFIC][,][Y|1|1][]
[(.*)CellTransmissionQuality(.*)][CELLTRANSMISSIONQUALITY][,][Y|1|1][]
[(.*)CellUserNumber(.*)][CELLUSERNUMBER][,][Y|1|1][]
[(.*)DirectRetryBetweenHSDPAAndR99(.*)][DIRECTRETRYBETWEENHSDPAANDR99][,][Y|1|1][]
[(.*)HSPAServingCellChange(.*)][HSPASERVINGCELLCHANGE][,][Y|1|1][]
[(.*)IuBTraffic(.*)][IUBTRAFFIC][,][Y|1|1][]
[(.*)MBMS(.*)][MBMS][,][Y|1|1][]
[(.*)NodeBCE(.*)][NODEBCE][,][Y|1|1][]
[(.*)RNCAccessAndDrop(.*)][RNCACCESSANDDROP][,][Y|1|1][]
[(.*)RNCAvailableCells(.*)][RNCAVAILABLECELLS][,][Y|1|1][]
[(.*)RNCCPUMEM(.*)][RNCCPUMEM][,][Y|1|1][]
[(.*)RNCHardHandover(.*)][RNCHARDHANDOVER][,][Y|1|1][]
[(.*)RNCInterRATHandover(.*)][RNCINTERRATHANDOVER][,][Y|1|1][]
[(.*)RNCIuConnection(.*)][RNCIUCONNECTION][,][Y|1|1][]
[(.*)RNCIuInterfaceAbnormity(.*)][RNCIUINTERFACEABNORMITY][,][Y|1|1][]
[(.*)RNCIuTraffic(.*)][RNCIUTRAFFIC][,][Y|1|1][]
[(.*)RNCLCS(.*)][RNCLCS][,][Y|1|1][]
[(.*)RNCRABAssignmentModification(.*)][RNCRABASSIGNMENTMODIFICATION][,][Y|1|1][]
[(.*)RNCRABAssignmentRelease(.*)][RNCRABASSIGNMENTRELEASE][,][Y|1|1][]
[(.*)RNCRelocation(.*)][RNCRELOCATION][,][Y|1|1][]
[(.*)RNCRLCTraffic(.*)][RNCRLCTRAFFIC][,][Y|1|1][]
[(.*)RNCRRCConnectionManagement(.*)][RNCRRCCONNECTIONMANAGEMENT][,][Y|1|1][]
[(.*)RNCSoftHandover(.*)][RNCSOFTHANDOVER][,][Y|1|1][]
[(.*)RNCTraffic(.*)][RNCTRAFFIC][,][Y|1|1][]
[(.*)RNCUserNumber(.*)][RNCUSERNUMBER][,][Y|1|1][]
[(.*)SwitchBetweenHSPAAndDCHDueToMoving(.*)][SWITCHBETWEENHSPAANDDCHDUETOMOVING][,][Y|1|1][]

