#file mapping ZTE PM 3G
#format [filePattern][tableName][delimiter][HEADER:Y/N|LINE|COLUMN][COLUMN MAPPING CONFIG]
#bila [field Mapping] tidak diisi, maka field akan default sesuai apa adanya
#example [(.*)100001_ABISMessageCountMeas(.*)][ABISMESSAGECOUNTMEAS][,][Y|1|1][01_config/Zte2GMap.cfg]

#Here we go..
[(.*)100001_CellAccessAndDrop(.*)][CELLACCESSANDDROP][,][Y|1|1][]
[(.*)100001_CellAccessControl(.*)][CELLACCESSCONTROL][,][Y|1|1][]
[(.*)100001_CellCarrier(.*)][CELLCARRIER][,][Y|1|1][]
[(.*)100001_CellChannelSwitch(.*)][CELLCHANNELSWITCH][,][Y|1|1][]
[(.*)100001_CellCodeResource(.*)][CELLCODERESOURCE][,][Y|1|1][]
[(.*)100001_CellCommonChannel(.*)][CELLCOMMONCHANNEL][,][Y|1|1][]
[(.*)100001_CellDRBC(.*)][CELLDRBC][,][Y|1|1][]
[(.*)100001_CellHandoverFromHSPATo2G(.*)][CELLHANDOVERFROMHSPATO2G][,][Y|1|1][]
[(.*)100001_CellHardHandover(.*)][CELLHARDHANDOVER][,][Y|1|1][]
[(.*)100001_CellHSDPACarrier(.*)][CELLHSDPACARRIER][,][Y|1|1][]
[(.*)100001_CellHSDPACodeResource(.*)][CELLHSDPACODERESOURCE][,][Y|1|1][]
[(.*)100001_CellHSDPANodeB(.*)][CELLHSDPANODEB][,][Y|1|1][]
[(.*)100001_CellHSPAAccessAndDrop(.*)][CELLHSPAACCESSANDDROP][,][Y|1|1][]
[(.*)100001_CellHSPAThroughput(.*)][CELLHSPATHROUGHPUT][,][Y|1|1][]
[(.*)100001_CellIncomingInterRATHandover(.*)][CELLINCOMINGINTERRATHANDOVER][,][Y|1|1][]
[(.*)100001_CellIubRadioLinkManagement(.*)][CELLIUBRADIOLINKMANAGEMENT][,][Y|1|1][]
[(.*)100001_CellIurRadioLinkManagement(.*)][CELLIURRADIOLINKMANAGEMENT][,][Y|1|1][]
[(.*)100001_CellLoadControl(.*)][CELLLOADCONTROL][,][Y|1|1][]
[(.*)100001_CellPaging(.*)][CELLPAGING][,][Y|1|1][]
[(.*)100001_CellRABRelease(.*)][CELLRABRELEASE][,][Y|1|1][]
[(.*)100001_CellRelocation(.*)][CELLRELOCATION][,][Y|1|1][]
[(.*)100001_CellRLCTraffic(.*)][CELLRLCTRAFFIC][,][Y|1|1][]
[(.*)100001_CellRRCConnectionManagement(.*)][CELLRRCCONNECTIONMANAGEMENT][,][Y|1|1][]
[(.*)100001_CellRRCConnectionRelease(.*)][CELLRRCCONNECTIONRELEASE][,][Y|1|1][]
[(.*)100001_CellSoftHandover(.*)][CELLSOFTHANDOVER][,][Y|1|1][]
[(.*)100001_CellStatus(.*)][CELLSTATUS][,][Y|1|1][]
[(.*)100001_CellTraffic(.*)][CELLTRAFFIC][,][Y|1|1][]
[(.*)100001_CellTransmissionQuality(.*)][CELLTRANSMISSIONQUALITY][,][Y|1|1][]
[(.*)100001_CellUserNumber(.*)][CELLUSERNUMBER][,][Y|1|1][]
[(.*)100001_DirectRetryBetweenHSDPAAndR99(.*)][DIRECTRETRYBETWEENHSDPAANDR99][,][Y|1|1][]
[(.*)100001_HSPAServingCellChange(.*)][HSPASERVINGCELLCHANGE][,][Y|1|1][]
[(.*)100001_IuBTraffic(.*)][IUBTRAFFIC][,][Y|1|1][]
[(.*)100001_MBMS(.*)][MBMS][,][Y|1|1][]
[(.*)100001_NodeBCE(.*)][NODEBCE][,][Y|1|1][]
[(.*)100001_RNCAccessAndDrop(.*)][RNCACCESSANDDROP][,][Y|1|1][]
[(.*)100001_RNCAvailableCells(.*)][RNCAVAILABLECELLS][,][Y|1|1][]
[(.*)100001_RNCCPUMEM(.*)][RNCCPUMEM][,][Y|1|1][]
[(.*)100001_RNCHardHandover(.*)][RNCHARDHANDOVER][,][Y|1|1][]
[(.*)100001_RNCInterRATHandover(.*)][RNCINTERRATHANDOVER][,][Y|1|1][]
[(.*)100001_RNCIuConnection(.*)][RNCIUCONNECTION][,][Y|1|1][]
[(.*)100001_RNCIuInterfaceAbnormity(.*)][RNCIUINTERFACEABNORMITY][,][Y|1|1][]
[(.*)100001_RNCIuTraffic(.*)][RNCIUTRAFFIC][,][Y|1|1][]
[(.*)100001_RNCLCS(.*)][RNCLCS][,][Y|1|1][]
[(.*)100001_RNCRABAssignmentModification(.*)][RNCRABASSIGNMENTMODIFICATION][,][Y|1|1][]
[(.*)100001_RNCRABAssignmentRelease(.*)][RNCRABASSIGNMENTRELEASE][,][Y|1|1][]
[(.*)100001_RNCRelocation(.*)][RNCRELOCATION][,][Y|1|1][]
[(.*)100001_RNCRLCTraffic(.*)][RNCRLCTRAFFIC][,][Y|1|1][]
[(.*)100001_RNCRRCConnectionManagement(.*)][RNCRRCCONNECTIONMANAGEMENT][,][Y|1|1][]
[(.*)100001_RNCSoftHandover(.*)][RNCSOFTHANDOVER][,][Y|1|1][]
[(.*)100001_RNCTraffic(.*)][RNCTRAFFIC][,][Y|1|1][]
[(.*)100001_RNCUserNumber(.*)][RNCUSERNUMBER][,][Y|1|1][]
[(.*)100001_SwitchBetweenHSPAAndDCHDueToMoving(.*)][SWITCHBETWEENHSPAANDDCHDUETOMOVING][,][Y|1|1][]

