###########################################################
#Praxis Cynapse Configuration
#v1.0
#Copyright 2012 @SMLTechnologies
###########################################################
PARSER_CONFIG           	=../01_config/ParserConfig.xml


#2
MODUL_NAME_2                    =2GRZTE02
#---Get Part---
GET_FTP_2                       =Y
FTP_HOST_2                      =10.251.9.65
FTP_PORT_2                      =21111
FTP_USERNAME_2                  =nmsftpuser
FTP_PASSWD_2                    =ZXemsFtp123
FTP_FILEPATTERN_2               =(.*).csv
FTP_DATEPATTERN_2               =(.*)
FTP_REMOTE_DIR_2                =/db/GSMV3/PM
FTP_SUBREMOTE_DIR_2             =
FTP_LOCAL_DIR_2                 =../02_raw/2GRZTE02
FTP_CHECK_ALREADY_DWL_2         =Y
OUTPUT_CONFIG_2                 =../01_config/OutputMethod1.cfg
