#Cynapse TPROCESS_FILE availibility mover

#Exp:
#[Schema][IP][PORT][USERNAME][PASSWORD][KTR_FILE]
#[SERVO_2GRNOK01][localhost][3306][root][servo2013][../01_config/avail_mover.ktr]


[SERVO_2GRNOK01][172.24.1.51][3306][root][servo2013][../01_config/avail_mover.ktr]
[SERVO_2GRNOK02][172.24.1.51][3306][root][servo2013][../01_config/avail_mover.ktr]
[SERVO_2GRNOK03][172.24.1.51][3306][root][servo2013][../01_config/avail_mover.ktr]
[SERVO_2GRNOK04][172.24.1.51][3306][root][servo2013][../01_config/avail_mover.ktr]
[SERVO_2GRNOK05][172.24.1.51][3306][root][servo2013][../01_config/avail_mover.ktr]
[SERVO_2GRNOK06][172.24.1.51][3306][root][servo2013][../01_config/avail_mover.ktr]

[SERVO_PSCNOK01][172.24.1.51][3307][root][servo2013][../01_config/avail_mover.ktr]
[SERVO_PSCNOK02][172.24.1.51][3307][root][servo2013][../01_config/avail_mover.ktr]

[SERVO_CSCERI01][172.24.1.51][3308][root][servo2013][../01_config/avail_mover.ktr]
[SERVO_CSCERI02][172.24.1.51][3308][root][servo2013][../01_config/avail_mover.ktr]
[SERVO_CSCERI03][172.24.1.51][3308][root][servo2013][../01_config/avail_mover.ktr]
[SERVO_CSCERI04][172.24.1.51][3308][root][servo2013][../01_config/avail_mover.ktr]

[SERVO_CSCHUA01][172.24.1.51][3309][root][servo2013][../01_config/avail_mover.ktr]
[SERVO_CSCCIS01][172.24.1.51][3309][root][servo2013][../01_config/avail_mover.ktr]
[SERVO_CSCUAN01][172.24.1.51][3309][root][servo2013][../01_config/avail_mover.ktr]

[SERVO_3GRNOK01][172.24.1.52][3306][root][servo2013][../01_config/avail_mover.ktr]
[SERVO_3GRNOK02][172.24.1.52][3306][root][servo2013][../01_config/avail_mover.ktr]
[SERVO_3GRNOK03][172.24.1.52][3306][root][servo2013][../01_config/avail_mover.ktr]

[SERVO_2GRERI01][172.24.1.52][3307][root][servo2013][../01_config/avail_mover.ktr]
[SERVO_2GRERI02][172.24.1.52][3307][root][servo2013][../01_config/avail_mover.ktr]
[SERVO_2GRERI03][172.24.1.52][3307][root][servo2013][../01_config/avail_mover.ktr]
[SERVO_2GRERI04][172.24.1.52][3307][root][servo2013][../01_config/avail_mover.ktr]

[SERVO_2GRHUA01][172.24.1.52][3308][root][servo2013][../01_config/avail_mover.ktr]
[SERVO_2GRHUA02][172.24.1.52][3308][root][servo2013][../01_config/avail_mover.ktr]
[SERVO_2GRHUA03][172.24.1.52][3308][root][servo2013][../01_config/avail_mover.ktr]
[SERVO_2GRHUA04][172.24.1.52][3308][root][servo2013][../01_config/avail_mover.ktr]
[SERVO_2GRHUA05][172.24.1.52][3308][root][servo2013][../01_config/avail_mover.ktr]
[SERVO_2GRHUA06][172.24.1.52][3308][root][servo2013][../01_config/avail_mover.ktr]

[SERVO_PSCERI01][172.24.1.52][3309][root][servo2013][../01_config/avail_mover.ktr]
[SERVO_PSCHUA01][172.24.1.52][3309][root][servo2013][../01_config/avail_mover.ktr]

[SERVO_3GRHUA01][172.24.1.53][3306][root][servo2013][../01_config/avail_mover.ktr]
[SERVO_3GRHUA02][172.24.1.53][3306][root][servo2013][../01_config/avail_mover.ktr]
[SERVO_3GRHUA03][172.24.1.53][3306][root][servo2013][../01_config/avail_mover.ktr]
[SERVO_3GRHUA04][172.24.1.53][3306][root][servo2013][../01_config/avail_mover.ktr]

[SERVO_3GRERI01][172.24.1.53][3307][root][servo2013][../01_config/avail_mover.ktr]
[SERVO_3GRERI02][172.24.1.53][3307][root][servo2013][../01_config/avail_mover.ktr]

[SERVO_2GRSIE01][172.24.1.53][3308][root][servo2013][../01_config/avail_mover.ktr]
[SERVO_2GRSIE02][172.24.1.53][3308][root][servo2013][../01_config/avail_mover.ktr]
[SERVO_2GRSIE03][172.24.1.53][3308][root][servo2013][../01_config/avail_mover.ktr]
[SERVO_2GRSIE04][172.24.1.53][3308][root][servo2013][../01_config/avail_mover.ktr]
[SERVO_2GRSIE05][172.24.1.53][3308][root][servo2013][../01_config/avail_mover.ktr]
[SERVO_2GRSIE06][172.24.1.53][3308][root][servo2013][../01_config/avail_mover.ktr]
[SERVO_2GRZTE01][172.24.1.53][3308][root][servo2013][../01_config/avail_mover.ktr]
[SERVO_3GRZTE01][172.24.1.53][3308][root][servo2013][../01_config/avail_mover.ktr]
[SERVO_3GRZTE02][172.24.1.53][3308][root][servo2013][../01_config/avail_mover.ktr]
[SERVO_3GRZTE03][172.24.1.53][3308][root][servo2013][../01_config/avail_mover.ktr]

[SERVO_CSCNOK01][172.24.1.53][3309][root][servo2013][../01_config/avail_mover.ktr]
[SERVO_CSCNOK02][172.24.1.53][3309][root][servo2013][../01_config/avail_mover.ktr]
[SERVO_CSCSIE01][172.24.1.53][3309][root][servo2013][../01_config/avail_mover.ktr]
[SERVO_CSCSIE02][172.24.1.53][3309][root][servo2013][../01_config/avail_mover.ktr]
[SERVO_CSCSIE03][172.24.1.53][3309][root][servo2013][../01_config/avail_mover.ktr]
[SERVO_CSCSIE04][172.24.1.53][3309][root][servo2013][../01_config/avail_mover.ktr]

