#file mapping Huawei PM 3G
#format [measurement type][tableName][field Mapping]
#bila [field Mapping] tidak diisi, maka field akan default sesuai apa adanya

[default_mapping_field][][../01_config/HuaweiCscMappings20140206.cfg]

#Tablenames are defined from filename
#Here we go..
[(.*)AUC SR(.*)][AUC_SR][]
[(.*)DSP_AAA_Radius_SR(.*)][DSP_AAA_RADIUS_SR][]
[(.*)DSP_HTTP_Operation_Measurement(.*)][DSP_HTTP_OPERATION_MEASUREMENT][]
[(.*)DSP_to_All_HLR_Provisioning(.*)][DSP_TO_ALL_HLR_PROVISIONING][]
[(.*)DSP-FE_ATI_TPS60min(.*)][DSP_FE_ATI_TPS60MIN][]
[(.*)DSP-FE_ATSI_TPS60min(.*)][DSP_FE_ATSI_TPS60MIN][]
[(.*)GPRS_LUP SR(.*)][GPRS_LUP_SR][]
[(.*)ISD SR(.*)][ISD_SR][]
[(.*)LUP SR(.*)][LUP_SR][]
[(.*)PRN SR(.*)][PRN_SR][]
[(.*)PUSSD SR(.*)][PUSSD_SR][]
[(.*)SMS_SRI SR(.*)][SMS_SRI_SR][]
[(.*)SRI SR(.*)][SRI_SR][]
