#[x][y][width][depth][tableName][fields]
#PKU
[1][6][15][48][ERROR_DISTR][ERROR_CODE,TOTAL_1,PERCOFTRANSPKU_1,TOTAL_2,PERCOFTRANSPKU_2,TOTAL_3,PERCOFTRANSPKU_3,TOTAL_4,PERCOFTRANSPKU_4,TOTAL_5,PERCOFTRANSPKU_5,TOTAL_6,PERCOFTRANPKU_6,TOTAL_7,PERCOFTRANSPKU_7]
#PKU_Total
#[1][57][15][5][ERROR_DISTR_TOTAL][CONSIDER_AS_SUCCESS,INTOTAL,OCSTOTAL INTOTAL,OCSTOTAL INTOTAL,OCSTOTAL INTOTAL,OCSTOTAL INTOTAL,OCSTOTAL INTOTAL,OCSTOTAL INTOTAL,OCSTOTAL]

#SBY
#[ERROR][ERROR_CODE,TOTAL,PERCOFTRANSSBY,TOTAL,PERCOFTRANSSBY,TOTAL,PERCOFTRANSSBY,TOTAL,PERCOFTRANSSBY,TOTAL,PERCOFTRANSSBY,TOTAL,PERCOFTRANSSBY,TOTAL,PERCOFTRANSSBY]
#SBY_Total
#[CONSIDER_AS_SUCCESS,INTOTAL,OCSTOTAL INTOTAL,OCSTOTAL INTOTAL,OCSTOTAL INTOTAL,OCSTOTAL INTOTAL,OCSTOTAL INTOTAL,OCSTOTAL INTOTAL,OCSTOTAL]

#TBS
#[ERROR][ERROR_CODE,TOTAL,PERCOFTRANSTBS,TOTAL,PERCOFTRANSTBS,TOTAL,PERCOFTRANSTBS,TOTAL,PERCOFTRANSTBS,TOTAL,PERCOFTRANSTBS,TOTAL,PERCOFTRANSTBS,TOTAL,PERCOFTRANSTBS]
#TBS_Total
#[CONSIDER_AS_SUCCESS,INTOTAL,OCSTOTAL INTOTAL,OCSTOTAL INTOTAL,OCSTOTAL INTOTAL,OCSTOTAL INTOTAL,OCSTOTAL INTOTAL,OCSTOTAL INTOTAL,OCSTOTAL]

#PLMBG
#[ERROR][ERROR_CODE,TOTAL,PERCOFTRANSPLG,TOTAL,PERCOFTRANSPLG,TOTAL,PERCOFTRANSPLG,TOTAL,PERCOFTRANSPLG,TOTAL,PERCOFTRANSPLG,TOTAL,PERCOFTRANSPLG,TOTAL,PERCOFTRANSPLG]
#PLMBG_Total
#[CONSIDER_AS_SUCCESS,INTOTAL,OCSTOTAL INTOTAL,OCSTOTAL INTOTAL,OCSTOTAL INTOTAL,OCSTOTAL INTOTAL,OCSTOTAL INTOTAL,OCSTOTAL INTOTAL,OCSTOTAL]

#MKSR
#[ERROR][ERROR_CODE,TOTAL,PERCOFTRANSMKS,TOTAL,PERCOFTRANSMKS,TOTAL,PERCOFTRANSMKS,TOTAL,PERCOFTRANSMKS,TOTAL,PERCOFTRANSMKS,TOTAL,PERCOFTRANSMKS,TOTAL,PERCOFTRANSMKS]
#MKSR_Total
#[CONSIDER_AS_SUCCESS,INTOTAL,OCSTOTAL INTOTAL,OCSTOTAL INTOTAL,OCSTOTAL INTOTAL,OCSTOTAL INTOTAL,OCSTOTAL INTOTAL,OCSTOTAL INTOTAL,OCSTOTAL]

#BJB
#[ERROR][ERROR_CODE,TOTAL,PERCOFTRANSMKS,TOTAL,PERCOFTRANSMKS,TOTAL,PERCOFTRANSMKS,TOTAL,PERCOFTRANSMKS,TOTAL,PERCOFTRANSBJB,TOTAL,PERCOFTRANSMKS,TOTAL,PERCOFTRANSMKS]
#BJB_Total
#[CONSIDER_AS_SUCCESS,INTOTAL,OCSTOTAL INTOTAL,OCSTOTAL INTOTAL,OCSTOTAL INTOTAL,OCSTOTAL INTOTAL,OCSTOTAL INTOTAL,OCSTOTAL INTOTAL,OCSTOTAL]

#All Site
#[ERROR][ERROR_CODE,TOTAL,PERCOFTRANSMKS,TOTAL,PERCOFTRANSMKS,TOTAL,PERCOFTRANSMKS,TOTAL,PERCOFTRANSMKS,TOTAL,PERCOFTRANS,TOTAL,PERCOFTRANSMKS,TOTAL,PERCOFTRANSMKS]


