############################################################
#Mapping File Ericsson 2G
#Copyright 2013 @SMLTechnologies
############################################################

[ABISIP][ABISIP][]
[ABISTG][ABISTG][]
[AGW][AGW][]
[AGWTRAF][AGWTRAF][]
[AOIP][AOIP][]
[AOIPCAP][AOIPCAP][]
[APDISKS][APDISKS][]
[ATERTRANS][ATERTRANS][]
[BSC][BSC][]
[BSCGPRS][BSCGPRS][]
[BSCGPRS2][BSCGPRS2][]
[BSCMSLOT][BSCMSLOT][]
[BSCPOS][BSCPOS][]
[BSCQOS][BSCQOS][]
[BSCSCCCL][BSCSCCCL][]
[C7RTTOTAL][C7RTTOTAL][]
[C7SCCPUSE][C7SCCPUSE][]
[C7SCPERF][C7SCPERF][]
[C7SCQOS][C7SCQOS][]
[C7SCSIGP][C7SCSIGP][]
[C7SCSUBSYS][C7SCSUBSYS][]
[C7SL1][C7SL1][]
[C7SL2][C7SL2][]
[C7SLSET][C7SLSET][]
[CCCHLOAD][CCCHLOAD][]
[CELEVENTD][CELEVENTD][]
[CELEVENTH][CELEVENTH][]
[CELEVENTI][CELEVENTI][]
[CELEVENTS][CELEVENTS][]
[CELEVENTSC][CELEVENTSC][]
[CELLCCHDR][CELLCCHDR][]
[CELLCCHHO][CELLCCHHO][]
[CELLCONF][CELLCONF][]
[CELLDUALT][CELLDUALT][]
[CELLEIT][CELLEIT][]
[CELLEIT2][CELLEIT2][]
[CELLFERF][CELLFERF][]
[CELLFERH][CELLFERH][]
[CELLFLXAB][CELLFLXAB][]
[CELLGPRS][CELLGPRS][]
[CELLGPRS2][CELLGPRS2][]
[CELLGPRS3][CELLGPRS3][]
[CELLGPRS4][CELLGPRS4][]
[CELLGPRSO][CELLGPRSO][]
[CELLHCS][CELLHCS][]
[CELLHSCSD][CELLHSCSD][]
[CELLMSCAP][CELLMSCAP][]
[CELLMSQ][CELLMSQ][]
[CELLPAG][CELLPAG][]
[CELLPOS][CELLPOS][]
[CELLQOSEG][CELLQOSEG][]
[CELLQOSG][CELLQOSG][]
[CELLQOSS][CELLQOSS][]
[CELLSQI][CELLSQI][]
[CELLSQIDL][CELLSQIDL][]
[CELTCHF][CELTCHF][]
[CELTCHFP][CELTCHFP][]
[CELTCHH][CELTCHH][]
[CHGRP0F][CHGRP0F][]
[CHGRP0H][CHGRP0H][]
[CLCCCH][CLCCCH][]
[CLDTMEST][CLDTMEST][]
[CLDTMPER][CLDTMPER][]
[CLDTMQOS][CLDTMQOS][]
[CLQOSSCON][CLQOSSCON][]
[CLQOSSCON2][CLQOSSCON2][]
[CLRATECHG][CLRATECHG][]
[CLRXQUAL][CLRXQUAL][]
[CLSDCCH][CLSDCCH][]
[CLSDCCHO][CLSDCCHO][]
[CLSMS][CLSMS][]
[CLTCH][CLTCH][]
[CLTCHDRAF][CLTCHDRAF][]
[CLTCHDRAH][CLTCHDRAH][]
[CLTCHDRF][CLTCHDRF][]
[CLTCHDRH][CLTCHDRH][]
[CLTCHFV1][CLTCHFV1][]
[CLTCHFV2][CLTCHFV2][]
[CLTCHFV3][CLTCHFV3][]
[CLTCHFV3C][CLTCHFV3C][]
[CLTCHHV1][CLTCHHV1][]
[CLTCHHV3][CLTCHHV3][]
[CLTCHHV3C][CLTCHHV3C][]
[CP][CP][]
[DELSTRTBF][DELSTRTBF][]
[DIGPATH][DIGPATH][]
[DIGS][DIGS][]
[DIP][DIP][]
[DOWNTIME][DOWNTIME][]
[EM][EM][]
[EMG][EMG][]
[EMGPRS][EMGPRS][]
[EMRP][EMRP][]
[GANRESALL][GANRESALL][]
[GPHLOADREG][GPHLOADREG][]
[GPRSCAP][GPRSCAP][]
[GRPSWITCH][GRPSWITCH][]
[HS7SL1][HS7SL1][]
[IDLEOTCHF][IDLEOTCHF][]
[IDLEOTCHH][IDLEOTCHH][]
[IDLEUTCHF][IDLEUTCHF][]
[IDLEUTCHH][IDLEUTCHH][]
[LAPD][LAPD][]
[LOADREG][LOADREG][]
[LOAS][LOAS][]
[LOASMISC][LOASMISC][]
[MOTG][MOTG][]
[MOTS][MOTS][]
[MSC][MSC][]
[NETWSYNC][NETWSYNC][]
##To Be processed as temporer table
[NCELLREL][NCELLREL_TEMP][]
[NECELASS][NECELASS_TEMP][]
[NECELHO][NECELHO_TEMP][]
[NECELHOEX][NECELHOEX_TEMP][]
[NECELLREL][NECELLREL_TEMP][]
[NICELASS][NICELASS_TEMP][]
[NICELHO][NICELHO_TEMP][]
[NICELHOEX][NICELHOEX_TEMP][]
[NUCELLREL][NUCELLREL_TEMP][]
[PGW][PGW][]
[PGWLDIST][PGWLDIST][]
[PREEMP][PREEMP][]
[RANDOMACC][RANDOMACC][]
[RLINKBITR][RLINKBITR][]
[RNDACCEXT][RNDACCEXT][]
[RP][RP][]
[SCABISDEL][SCABISDEL][]
[SCTPAM][SCTPAM][]
[SCTPTM][SCTPTM][]
[SDIPHP][SDIPHP][]
[SDIPLP][SDIPLP][]
[SDIPMS][SDIPMS][]
[SNT][SNT][]
[SS7HSLPG1][SS7HSLPG1][]
[SS7HSLPG2][SS7HSLPG2][]
[SS7PRGRP][SS7PRGRP][]
[SS7SCQOS][SS7SCQOS][]
[SS7SCSUBSY][SS7SCSUBSY][]
[SS7TIMERS][SS7TIMERS][]
[SS7TOTAL][SS7TOTAL][]
[SS7TOTAL2][SS7TOTAL2][]
[SUPERCH][SUPERCH][]
[SUPERCH2][SUPERCH2][]
[TRAFDLGPRS][TRAFDLGPRS][]
[TRAFGPRS2][TRAFGPRS2][]
[TRAFGPRS3][TRAFGPRS3][]
[TRAFULGPRS][TRAFULGPRS][]
[TRAPCOM][TRAPCOM][]
[TRAPEVENT][TRAPEVENT][]
[TRASEVENT][TRASEVENT][]
[TRASUBPOOL][TRASUBPOOL][]

